.classpath
.settings/
logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
*.pyc
.idea/
.project
*.iml
**/gen/*
**/bin/*
platforms/android/assets/www
console.log
webapp/chrome.zip
webapp/www/*
platforms/wp8/www/
obj/
**/Bin/Debug/*
*.suo
*.user
Thumbs.db
