<div class="jumbotron" ng-swipe-right="goto('settings')">
	<h3>Darkcoin Balance</h3>

	<div class="row-fluid">
		<img ng-show="showLogo1" src="img/darkcoinBalance128x128.png" alt="Darkcoin Balance" title="Darkcoin Balance" class="aboutLogo"/>
		<img ng-hide="showLogo1" src="img/darkcoinlogo128.png" alt="Darkcoin Logo" title="Darkcoin (DRK)" class="aboutLogo"/>
		<p>See how many Darkcoin you own and what they're worth.</p>
		<p>Version {{data.version}}</p>
		<p>By Drake Emko</p>
		<p><a href="javascript:void(0)" ng-click="openLink('http://d2a4gw4qtrw231.cloudfront.net/support.html')" target="_blank">Support and FAQ</a> page</p>
		<p>Your feedback is welcome. Email: <a href="mailto:drakee@gmail.com">drakee@gmail.com</a></p>
		<p>Donations welcome too: <span class="walletAddress balance">Xb1LCPkgtjXQBtsrme7eEnTjJZwbPYYg9p</span></p>
	</div>
</div>

<div class="footer">
	<img src="img/darkcoin_32.png" alt="Darkcoin"/> Balance uses data from the <a href="javascript:void(0)" ng-click="openLink('http://explorer.darkcoin.io/chain/DarkCoin/')" target="_blank">Darkcoin Blockchain</a> and <a href="javascript:void(0)" ng-click="openLink('http://www.cryptocoincharts.info/')" target="_blank">CryptoCoinCharts</a> API.
</div>

